body {
  background-color: #111;
  margin: 0 ;
  color: white;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Definir la sombra del texto */
  font-family: source-code-pro , sans-serif;
  font-weight: 300;

}


